<% if @users.photo? %>
　　<%= image_tag @users.photo.url,class:"user_photo" %>
　<% else %>
　　<%= image_tag 'nouser.png' %>
　<% end %>

<h1><%= @users.name %></h1>
<% if current_user != @users　%>
   <% if current_user.following?(@users) %>
    <%= link_to "Unfollow", unfollow_user_path(@users) %>
   <% else %>
    <%= link_to "Follow", follow_user_path(@users) %>
   <% end %>
<% end %>

 <% if current_user == @users %> <%# プロフィールを編集できる %>
  <%= form_for @users do |f| %>
    
    <!-- ここのラベルsymbolにしてる理由は? ":"経歴" -->
    <%= f.label :"経歴"%>
    <%= f.text_area :profession %>
    
    <%= f.label :"教えられること"%>
    <%= f.text_area :teachable %>
    
    <%= f.label :"学習中"%>
    <%= f.text_area :learning %>
    
    <%= f.label :"自己紹介" %>
    <%= f.text_area :intro %>
    
    <%= f.submit %>
  <% end %>  
 <% else %> <%# プロフィールは見るだけ %>
  <h3>経歴</h3>
  <p><%= @users.profession %></p>
  <h3>教えられること</h3>
  <p><%= @users.teachable %></p>
  <h3>学習中</h3>
  <p><%= @users.learning %></p>
  <h3>自己紹介</h3>
  <p><%= @users.intro %></p>
  
<% end %>
<p>ノート数:<%= @users.forms.count %></p>

<h3>フォロー数:<%= @users.follow_count%></h3>
<% @users.all_following.each do |user| %>
 <%= link_to image_tag(user.photo.url,class:"micro-photo"),user %>
<% end %>

<h3>フォロワー数:<%= @users.followers_count%></h3>
<% @users.followers.each do |user| %>
 <%= link_to image_tag(user.photo.url,class:"micro-photo"),user %>
<% end %>

<% @users.forms.each do |user| %>
 <div class="container post">
      <div class="row">
          <div class="col-md-10 col-md-offset-1"><h3><%=link_to user.title,form_path(user)%></h3></div>
          <div class="col-md-10 col-md-offset-1"><p><%= time_ago_in_words user.created_at %>前に投稿</p></div>
          <div class="col-md-10 col-md-offset-1"><iframe srcdoc="<%= user.comment %>"></iframe></div>
      </div>
 </div>
<% end %>

