<% @forms.each do |form| %>
    <div class="container post">
      <div class="row">
          <div class="col-md-10 col-md-offset-1"><h3><%= form.title %></h3></div>
          <div class="col-md-10 col-md-offset-1"><p><%= link_to form.user.name,user_path(form.user_id)%></p></div>
          <div class="col-md-10 col-md-offset-1"><p><%= form.created_at %></p></div>
          <div class="col-md-10 col-md-offset-1"><iframe srcdoc="<%= form.comment %>"></iframe></div>
          
      </div>
      <% if current_user == form.user %> <%#　選んだフォームがフォーム作成者のとき %>
          <div class="selector">
             <%= link_to '詳細', form,class:'btn btn-success'%>
             <%= link_to '編集', edit_form_path(form),class:'btn btn-primary'%>
            <%= link_to '消去', form, method: :delete, data: { confirm: 'Are you sure?' },class:'btn btn-danger' %>
        　<% if form.understand.present? %>
            <button>理解</button> <%#このリンクを押すと、ポストに紐づいた@understandがdestroyされ,nilになる %>
          <% else %>
            <button>助けて</button><%#このボタンを押すと、ポストに紐づいた@understandがcreateされ,presentになる %>
        <% end %>
      <% else %> <%#　ポストが作成者ではないとき %>
          <%= link_to 'Show', form,class:'btn btn-success'%>
          <% if form.understand.present? %>
            <button>理解</button> <%# 編集できずに、ただ表示されているだけ表示されているだけ %>
          <% else %>
            <button>助けて</button> <%# 編集できずに、ただ表示されているだけ表示されているだけ %>
          <% end %>
      <% end %>
            </div>
        </div>
  <% end %>
