<!-- view/forms/index.html -->
<% if user_signed_in? %>
  <%= search_form_for @q do |f| %>
      <%= f.label :comment_cont, "検索"%><%= f.search_field :comment_cont %><%= f.submit %>
  <% end %>
  <%= render 'post' %>
<% else %>
  <h1>Welcome to Study App</h1>
<% end %>