<!-- view/forms/index.html -->
<% if user_signed_in? %>
  <%= search_form_for @q do |f| %>
      <%= f.label :comment_cont, "検索"%><%= f.search_field :comment_cont %><%= f.submit %>
  <% end %>
  <%= render 'post' %>
<% else %>
<div class="col-md-10 col-md-offset-1" >
  <h1>Coder Community</h1>
  <p>CODER COMMUNITYへようこそ。ここでは、友人のエンジニアに技術的な質問や、学習記録を共有することができます。</br>
  </p>
</div>
<div class="col-md-10 col-md-offset-1" ><%= link_to '新規登録',new_user_registration_path,class:"btn btn-primary" %></div>
  
  
<% end %>