<header class="header">
  <div class="container navbar navbar-fixed-top">
     <span class="pull-left"><%= link_to "My Coding Day", root_path,id:"logo" %></span>
     <ul class="list-inline pull-right">
      <%= search_form_for @q do |f| %>
        <li><%= f.label :comment_cont, "検索" %>
        <%= f.search_field :comment_cont %>
         <%= f.submit %>
        </li>
      <% end %>
        <li><%= link_to 'New Form',new_form_path,class:"btn btn-primary" %></li>
      </ul>
</header>
  