<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag Ckeditor.cdn_url %>
  <link rel="stylesheet" href="/javascripts/highlight/styles/[theme name of choice].min.css">
  <script src="/javascripts/highlight/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="container belowHeader">
<%= render 'layouts/header' %>
<%= yield %>

  </div>
<script>
CKEDITOR.replace( 'editor1', {
    extraPlugins: 'codesnippet'
} );
</script>
</body>
</html>
